<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

	<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/mycss.css" th:href="@{/css/mycss.css}" />
    <title>Schedule Preferences</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <div class="container-fluid" >
	    <a class="navbar-brand" href="/">
	      <img src="../static/images/logo.png" th:src="@{/images/logo.png}" width="30" height="30"/>
	    </a>
	
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="/">Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Products</a>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Applications
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            <li><a class="dropdown-item" href="/secure/weeklySchedule" th:href="@{/secure/weeklySchedule}">Weekly Schedule List</a></li>
	            <li><a class="dropdown-item" href="#">Another application</a></li>
	          </ul>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Services</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="/about" th:href="@{/about}">About</a>
	        </li>
	      </ul>
	      <form class="d-flex">
	        
	        <a href="/logout" th:href="@{/logout}" class="btn btn-primary active" role="button" aria-pressed="true">Logout</a>
	   
	      </form>
	    </div>
	  </div>
	</nav>
       
   <div class="container-fluid bg-light">
    
    	<div class="row">
	    	<div class="col-sm-6 bg-light" ><h2>Please enter your availability</h2></div>
	    	<div class="col-sm-3 bg-light" ></div>
	  		<div class="col-sm-3 bg-light" ></div>
  		</div>
    	    
   		<div class="row">
			<form method ="post" action="#" th:action="@{/secure/addUserSchedule}" th:object=${userSchedule}>
				<div class="row">
					<div class="form-group col-sm-3 bg-light">
					 
					    <label for="prefDay1" class="form-label">Day1</label>
				   			
				   			<select class="form-select" th:field="*{prefDay1}">
				   			
			        			<option th:each="d : *{DAYS}" th:value="${d}" th:text="${d}" ></option>
			        			
			      			</select>
					
					</div>
					<div class="form-group col-sm-3 bg-light">
					 
					   <label for="prefTime1" class="form-label">Time Frame</label>
				   			
				   			<select class="form-select" th:field="*{prefTime1}">
				   			
			        			<option th:each="t : *{TIMES}" th:value="${t}" th:text="${t}" ></option>
			        			
			      			</select>
					
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-3 bg-light">
					 
					    <label for="prefDay2" class="form-label">Day2</label>
				   			
				   			<select class="form-select" th:field="*{prefDay2}">
				   			
			        			<option th:each="d2 : *{DAYS}" th:value="${d2}" th:text="${d2}" ></option>
			        			
			      			</select>
					
					</div>
					
					<div class="form-group col-sm-3 bg-light">
					    <label for="prefTime2" class="form-label">Time Frame</label>
				   			
				   		<select class="form-select" th:field="*{prefTime2}">
				   			
			        		<option th:each="t2 : *{TIMES}" th:value="${t2}" th:text="${t2}" ></option>
			        			
			      		</select>
					</div>
				</div>
					<br />							  
				  <button type="submit" class="btn btn-primary">Submit</button>
			</form>

		<div class="footer-copyright py-12"><p>© 2021 Hizir Ozcelik @Sheridan College</p></div>
   
    </div>
</div>
   
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    
  </body>
</html>

